.diffset .diff-pair {
  display: inline-flex;
  vertical-align: bottom;
  flex-direction: column;
  margin-top: 5px;
}

.diffset .akn-content.ins, .diffset .akn-content.del {
  display: block;
}

.diffset del, .diffset .del, .diffset .del > .akn-num {
  background-color: #f8cbcb;
  text-decoration: none;
}

.diffset ins, .diffset .ins, .diffset .ins > .akn-num {
  background-color: #a6f3a6;
  text-decoration: none;
}

.diffset-right .del, .diffset-right del {
  display: none !important;
}

.diffset-left .ins, .diffset-left ins {
  display: none !important;
}

.diffset-left.visually-hidden + .diffset-right .del,
.diffset-left.visually-hidden + .diffset-right del {
  display: block !important;
}

.diffset-left {
  min-width: 48%;
}

.reader-provision-changes-inline .card-header {
  background-color: #ffdf80;
}

.reader-provision-changes-inline .card-body {
  background-color: #fff6da;
}

.reader-provision-changes-inline .stages {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: auto;
}

.reader-provision-changes-inline .diff-wrapper {
  max-height: 50vh;
  overflow-y: auto;
}