html {
  scroll-behavior: smooth;
}

@-webkit-keyframes fadeout {
  from {
    background-color: #fc3;
  }
  to {
    background-color: unset;
  }
}
@keyframes fadeout {
  from {
    background-color: #fc3;
  }
  to {
    background-color: unset;
  }
}

.akoma-ntoso .selected {
  background-color: #dcdcdc;
}

.akoma-ntoso .highlighted {
  background-color: #fc3 !important;
}

.akoma-ntoso .highlighted:target {
  background-color: #dcdcdc;
}

.akoma-ntoso .akn-subsection .akn-akomaNtoso .akn-num {
  display: block;
  float: left;
  margin-left: -3em;
  margin-right: 0.25em;
}
.akoma-ntoso .akn-blockList .akn-akomaNtoso .akn-item {
  padding-left: 3em;
  margin-bottom: 0.8em;
}
.akoma-ntoso .akn-paragraph .akn-akomaNtoso .akn-heading {
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
}
.akoma-ntoso .akn-paragraph .akn-num {
   display: block;
   float: left;
   margin-left: -3em;
   margin-right: 0.25em;
}
.akoma-ntoso .akn-subsection .akn-akomaNtoso .akn-num {
  display: block;
  float: left;
  margin-left: -3em;
  margin-right: 0.25em;
}
.akoma-ntoso .akn-subsection .akn-akomaNtoso .akn-heading {
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
}
.akoma-ntoso .akn-subsection .akn-akomaNtoso .akn-subheading {
  text-align: start;
  font-style: normal;
  font-weight: bold;
}
.akoma-ntoso .akn-subrule .akn-akomaNtoso .akn-num {
  display: block;
  float: left;
  margin-left: -3em;
  margin-right: 0.25em;
}
.akoma-ntoso .akn-subrule .akn-akomaNtoso .akn-heading {
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
}
.akoma-ntoso .akn-subrule .akn-akomaNtoso .akn-subheading {
  text-align: start;
  font-style: normal;
  font-weight: bold;
}
.akoma-ntoso .akn-transitional .akn-akomaNtoso .akn-num {
  display: block;
  float: left;
  margin-left: -3em;
  margin-right: 0.25em;
}
.akoma-ntoso .akn-transitional .akn-akomaNtoso .akn-heading {
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
}
.akoma-ntoso .akn-transitional .akn-akomaNtoso .akn-subheading {
  text-align: start;
  font-style: normal;
  font-weight: bold;
}
.akoma-ntoso h1,
.akoma-ntoso h2,
.akoma-ntoso h3,
.akoma-ntoso h4,
.akoma-ntoso h5,
.akoma-ntoso .akn-heading {
  margin-top: 0px;
  margin-bottom: 0.8em;
  font-family: Palatino, "Book Antiqua", "PT Serif", Georgia, serif;
  font-weight: bold;
  text-transform: initial;
  letter-spacing: unset;
}
.akoma-ntoso h3 a {
  text-transform: initial;
  letter-spacing: unset;
}
.akoma-ntoso h1 {
  font-size: 26px;
  line-height: 1.2;
}
.akoma-ntoso h2,
.akoma-ntoso .akn-heading {
  text-align: center;
  font-size: 19px;
  line-height: 1.2;
}
.akoma-ntoso h3 {
  font-size: 18px;
  line-height: 1.35;
}
.akoma-ntoso h4 {
  font-size: 15px;
  line-height: 1.35;
}
/* Tooltip theme */
.akoma-ntoso-body .akn-ref[href^="#"]::after {
  display: inline-block;
  content: "";
  vertical-align: -0.125em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239c27b0'%3E%3Cpath d='M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 0.8rem;
  height: 0.8rem;
}
[data-tippy-root] {
  font-weight: initial;
  position: relative;
  font-family: Palatino, "Book Antiqua", "PT Serif", Georgia, serif;
}
[data-tippy-root] .tippy-box[data-animation="fade"][data-state="hidden"],
.tippy-box[data-animation="fade"][data-state="hidden"] {
  opacity: 0;
}
[data-tippy-root] [data-tippy-root] {
  max-width: calc(100vw - 10px);
}
[data-tippy-root] .tippy-box {
  position: relative;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity, -webkit-transform;
}
.tippy-box[data-placement^="top"] > .tippy-arrow {
  bottom: 0;
}
.tippy-box[data-placement^="top"] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow {
  top: 0;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.tippy-box[data-placement^="left"] > .tippy-arrow {
  right: 0;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.tippy-box[data-placement^="right"] > .tippy-arrow {
  left: 0;
}
.tippy-box[data-placement^="right"] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.tippy-box[data-inertia][data-state="visible"] {
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
[data-tippy-root] .tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}
[data-tippy-root] .tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
[data-tippy-root] .tippy-content {
  position: relative;
  padding: 5px 9px;
  margin-bottom: 0.5rem;
  z-index: 1;
}
.tippy-box[data-theme~="light-border"] {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 8, 16, 0.15) !important;
  color: #333;
  -webkit-box-shadow: 0 4px 14px -2px rgba(0, 8, 16, 0.08);
  box-shadow: 0 4px 14px -2px rgba(0, 8, 16, 0.08);
}
.tippy-box[data-theme~="light-border"] > .tippy-backdrop {
  background-color: #fff;
}
.tippy-box[data-theme~="light-border"] > .tippy-arrow:after,
.tippy-box[data-theme~="light-border"] > .tippy-svg-arrow:after {
  content: "";
  position: absolute;
  z-index: -1;
}
.tippy-box[data-theme~="light-border"] > .tippy-arrow:after {
  border-color: transparent;
  border-style: solid;
}
.tippy-box[data-theme~="light-border"][data-placement^="top"] > .tippy-arrow:before {
  border-top-color: #fff;
}
.tippy-box[data-theme~="light-border"][data-placement^="top"] > .tippy-arrow:after {
  border-top-color: rgba(0, 8, 16, 0.2);
  border-width: 7px 7px 0;
  top: 17px;
  left: 1px;
}
.tippy-box[data-theme~="light-border"][data-placement^="top"] > .tippy-svg-arrow > svg {
  top: 16px;
}
.tippy-box[data-theme~="light-border"][data-placement^="top"] > .tippy-svg-arrow:after {
  top: 17px;
}
.tippy-box[data-theme~="light-border"][data-placement^="bottom"] > .tippy-arrow:before {
  border-bottom-color: #fff;
  bottom: 16px;
}
.tippy-box[data-theme~="light-border"][data-placement^="bottom"] > .tippy-arrow:after {
  border-bottom-color: rgba(0, 8, 16, 0.2);
  border-width: 0 7px 7px;
  bottom: 17px;
  left: 1px;
}
.tippy-box[data-theme~="light-border"][data-placement^="bottom"] > .tippy-svg-arrow > svg {
  bottom: 16px;
}
.tippy-box[data-theme~="light-border"][data-placement^="bottom"] > .tippy-svg-arrow:after {
  bottom: 17px;
}
.tippy-box[data-theme~="light-border"][data-placement^="left"] > .tippy-arrow:before {
  border-left-color: #fff;
}
.tippy-box[data-theme~="light-border"][data-placement^="left"] > .tippy-arrow:after {
  border-left-color: rgba(0, 8, 16, 0.2);
  border-width: 7px 0 7px 7px;
  left: 17px;
  top: 1px;
}
.tippy-box[data-theme~="light-border"][data-placement^="left"] > .tippy-svg-arrow > svg {
  left: 11px;
}
.tippy-box[data-theme~="light-border"][data-placement^="left"] > .tippy-svg-arrow:after {
  left: 12px;
}
.tippy-box[data-theme~="light-border"][data-placement^="right"] > .tippy-arrow:before {
  border-right-color: #fff;
  right: 16px;
}
.tippy-box[data-theme~="light-border"][data-placement^="right"] > .tippy-arrow:after {
  border-width: 7px 7px 7px 0;
  right: 17px;
  top: 1px;
  border-right-color: rgba(0, 8, 16, 0.2);
}
.tippy-box[data-theme~="light-border"][data-placement^="right"] > .tippy-svg-arrow > svg {
  right: 11px;
}
.tippy-box[data-theme~="light-border"][data-placement^="right"] > .tippy-svg-arrow:after {
  right: 12px;
}
.tippy-box[data-theme~="light-border"] > .tippy-svg-arrow {
  fill: #fff;
}
.tippy-box[data-theme~="light-border"] > .tippy-svg-arrow:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA2czEuNzk2LS4wMTMgNC42Ny0zLjYxNUM1Ljg1MS45IDYuOTMuMDA2IDggMGMxLjA3LS4wMDYgMi4xNDguODg3IDMuMzQzIDIuMzg1QzE0LjIzMyA2LjAwNSAxNiA2IDE2IDZIMHoiIGZpbGw9InJnYmEoMCwgOCwgMTYsIDAuMikiLz48L3N2Zz4=);
  background-size: 16px 6px;
  width: 16px;
  height: 6px;
}
[data-tippy-root] .tippy-content {
  max-height: 40vh;
  overflow-y: auto;
  padding: 0;
}
[data-tippy-root] .tippy-content__title {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  background-color: #f7f7f7;
}
[data-tippy-root] .tippy-content__body {
  padding: 0.5rem 0.75rem;
  overflow-y: auto;
  background-color: white;
}

.loading {
  color: transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ddd;
  border-top-color: #fc3;
  animation: loading 1s linear infinite;
  position: absolute;
  left: 50%;
}

.opacity-5 {
  opacity: 0.5;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}