.legislation-latest-version-block {
  border: 1px solid #FFCC33;
  background-color: #FFCC331A;
  color: #2C2E35;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding: 8px 12px;
  margin: 12px 0;
}
