.akoma-ntoso-provision,
.akoma-ntoso-terms {
  height: 100vh;
  position: relative;
}

.akoma-ntoso-provision .pp-terms-list > .list-group-item,
.akoma-ntoso-terms .pp-terms-list > .list-group-item {
  position: absolute;
  width: 100%;
}

.akoma-ntoso-terms .pp-terms-list a {
  color: black;
  text-decoration: underline;
}

.akoma-ntoso-terms .pp-terms-list a:hover {
  text-decoration: none;
}

.akoma-ntoso-provision .pp-terms-list > .list-group-item.interactive-mode .interactive-mode--see-more,
.akoma-ntoso-terms .pp-terms-list > .list-group-item.interactive-mode .interactive-mode--see-more {
  color: #00548A;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.75px;
  bottom: 0;
  background: #fff;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.akoma-ntoso-provision .pp-terms-list > .list-group-item.interactive-mode.active li.interactive-mode--see-more,
.akoma-ntoso-terms .pp-terms-list > .list-group-item.interactive-mode.active li.interactive-mode--see-more {
  display: none;
}

.akoma-ntoso-provision .pp-terms-list > .list-group-item.interactive-mode:hover li.interactive-mode--see-more,
.akoma-ntoso-terms .pp-terms-list > .list-group-item.interactive-mode:hover li.interactive-mode--see-more {
  display: none;
}

.akoma-ntoso-provision .pp-terms-list > .list-group-item.not-linked,
.akoma-ntoso-terms .pp-terms-list > .list-group-item.not-linked {
  position: relative;
}

.akoma-ntoso-provision li,
.akoma-ntoso-terms li {
  -webkit-transition: top ease-out 100ms, left ease-out 100ms;
  transition: top ease-out 100ms, left ease-out 100ms;
}

.akoma-ntoso-terms li[anchor] {
  display: list-item;
}

.akoma-ntoso-terms.filtering li[anchor]:not(.active):not(.highlighted) {
  display: none;
}

.akoma-ntoso-body .enrichment.active {
  background-color: #dcdcdc;
}

.akoma-ntoso-body.decorate-remarks .akn-remark {
  background-color: #e9e4ff;
}

.js-opacity-0 {
  opacity: 0;
}

.term-background {
  background: #fc3 !important;
}

.akoma-ntoso-terms .highlighted:target {
  background-color: #dcdcdc;
}
