.akoma-ntoso-toc details summary {
  display: flex;
}
.akoma-ntoso-toc details > .details-wrapper {
  padding-right: 0;
}
.akoma-ntoso-toc details > summary:before {
  content: '▶';
  display: inline-block;
  width: 10.55px;
  height: 17px;
  margin-right: 0.4rem;
  font-size: 14px
}
.akoma-ntoso-toc details[open] > summary:before {
  transform: rotate(90deg);
}
.akoma-ntoso-toc a {
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.akoma-ntoso-toc a:hover,
.akoma-ntoso-toc a.active {
  background-color: #dcdcdc;
}

.akoma-ntoso-toc .highlighted {
  background-color: #fc3 !important;
}

.akoma-ntoso-toc .highlighted:target {
  background-color: #dcdcdc;
}