<div class="alignments-and-linkages">
  <div class="content">
    {{ form }}
  </div>
  <div class="info">
    {% trans %}
      The tags highlighted in yellow on this page are based on initial  "mappings" which are subject to review and
      refinement. The highlights do not preclude the relevance to other sections in the text.
    {% endtrans %}
  </div>
</div>
