{% set id = id|default('diff-compare-to') %}
<div class="comparing-to-dropdown">
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle diff-compare-to-label" href="#" role="button"
       id="{{ id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ title }}
    </a>
    <div class="dropdown-menu" aria-labelledby="{{ id }}">
      {% for item in items %}
        <a class="dropdown-item d-flex justify-content-between" href="{{ item.link }}">
          <span class="title">{{ item.title|date('d M, Y') }}</span>
          <span class="language">{{ item.language }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
  <div id="loading-spinner" class="loading hidden">{{ 'Loading...'|t }}</div>
  <div class="legend visually-hidden">
    <div class="reset-diff-compare-to">
      <button type="submit" class="btn-reset-diff-compare-to" id="reset-diff-compare-to">x</button>
    </div>
    {% trans %}
      Key: <ins>added text</ins> <del>deleted text</del>
    {% endtrans %}
  </div>
</div>
