<div class="timeline">
  {% for item in items %}
    <div class="timeline-item">
      <div class="timeline-date">{{ item.date | date("d M Y") }}</div>
      <div class="timeline-content-wrapper">
        <div class="timeline-content">
          {% for event in item.events %}
            <div class="content">
              {{ event.description }}
              {% if event.by_frbr_uri %}
                <a href="{{ event.by_frbr_uri }}">{{ event.by_title }}</a>
              {% else %}
                <span class="font-weight-bold">{{ event.by_title }}</span>
              {% endif %}
              {% if event.note %}
                <p class="timeline-note">{{ event.note }}</p>
              {% endif %}
            </div>
          {% endfor %}
          {% if item.by_frbr_uri is not empty %}
            <div class="bottom-section">
              <div class="left-section">
                <div class="node-label">
                  <a href={{ item.by_frbr_uri }}> {{ 'Read this version'|t }}</a>
                  <span>{{ node_language }}</span>
                </div>
              </div>
              {% if item.events|last.file.url %}
                <div class="right-section">
                  <a href={{ item.events|last.file.url }}>
                    <div>
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.83341 9.59777V10C7.83341 10.0441 7.85089 10.0864 7.88199 10.1176L7.83341 9.59777ZM7.83341 9.59777L8.00008 9.76444L8.16675 9.59777V10C8.16675 10.0441 8.14928 10.0864 8.11817 10.1176C8.11809 10.1177 8.11801 10.1178 8.11793 10.1179C8.08668 10.1491 8.04428 10.1667 8.00008 10.1667C7.95588 10.1667 7.91349 10.1491 7.88223 10.1179L7.83341 9.59777ZM5.21564 7.45112L5.2157 7.45107L5.20944 7.44502C5.19352 7.42965 5.18082 7.41126 5.17209 7.39092C5.16335 7.37059 5.15875 7.34872 5.15856 7.32659C5.15837 7.30446 5.16259 7.28251 5.17097 7.26203C5.17935 7.24155 5.19172 7.22294 5.20737 7.20729L4.86167 6.86159L5.20737 7.20729C5.22302 7.19164 5.24163 7.17927 5.26211 7.17089C5.2826 7.1625 5.30454 7.15829 5.32667 7.15848C5.3488 7.15867 5.37067 7.16327 5.391 7.17201C5.41134 7.18074 5.42973 7.19344 5.4451 7.20936L5.44505 7.20941L5.45119 7.21555L6.83341 8.59777V9.06898L5.21564 7.45112ZM8.16675 2.66667V8.18356L8.00008 8.35023L7.83341 8.18356V2.66667C7.83341 2.62246 7.85097 2.58007 7.88223 2.54881C7.91349 2.51756 7.95588 2.5 8.00008 2.5C8.04428 2.5 8.08668 2.51756 8.11793 2.54882C8.14919 2.58007 8.16675 2.62246 8.16675 2.66667ZM9.16675 9.06898V8.59777L10.5449 7.21965C10.5761 7.19055 10.6173 7.17449 10.66 7.17486C10.7037 7.17524 10.7455 7.19277 10.7764 7.22367C10.8073 7.25458 10.8248 7.29638 10.8252 7.34008C10.8256 7.38281 10.8095 7.42402 10.7804 7.45521L9.16675 9.06898ZM11.3334 13.5H4.66675C4.26892 13.5 3.88739 13.342 3.60609 13.0607C3.32478 12.7794 3.16675 12.3978 3.16675 12V10C3.16675 9.9558 3.18431 9.91341 3.21556 9.88215C3.24682 9.85089 3.28921 9.83333 3.33341 9.83333C3.37762 9.83333 3.42001 9.85089 3.45127 9.88215C3.48252 9.91341 3.50008 9.9558 3.50008 10V12C3.50008 12.3094 3.623 12.6062 3.84179 12.825C4.06058 13.0438 4.35733 13.1667 4.66675 13.1667H11.3334C11.6428 13.1667 11.9396 13.0438 12.1584 12.825C12.3772 12.6062 12.5001 12.3094 12.5001 12V10C12.5001 9.9558 12.5176 9.9134 12.5489 9.88215C12.5802 9.85089 12.6225 9.83333 12.6667 9.83333C12.711 9.83333 12.7533 9.85089 12.7846 9.88215C12.8159 9.9134 12.8334 9.9558 12.8334 10V12C12.8334 12.3978 12.6754 12.7794 12.3941 13.0607C12.1128 13.342 11.7312 13.5 11.3334 13.5Z" stroke="#0D6EFD"/>
                      </svg>
                      {{ 'Download original'|t }}
                    </div>
                    <span>({{ item.events|last.file.extension }}, {{ item.events|last.file.size }})</span>
                  </a>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
