<div class="overview-modifications">
  {% block amends %}
    {% if amends is not empty %}
      <div class="overview-modifications-section">
        <h2>{{ 'Amends'|t }}</h2>
        <ul>
          {% for item in amends %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}
  {% block ammended_by %}
    {% if amended_by is not empty %}
      <div class="overview-modifications-section">
        <h2>{{ 'Amended by'|t }}</h2>
        <ul>
          {% for item in amended_by %}
            <li>
              {% if item.event.by_frbr_uri %}
                <a href="{{ item.event.by_frbr_uri }}">{{ item.event.by_title }}</a>
              {% else %}
                {{ item.event.by_title }}
              {% endif %}
              {% if item.date %}
                <span>on {{ item.date|date("d M Y")}}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}
  {% block repealed_by %}
    {% if repealed_by is not empty %}
      <div class="overview-modifications-section">
        <h2>{{ 'Repealed by'|t }}</h2>
        <ul>
          {% for item in repealed_by %}
            <li>
              {% if item.event.by_frbr_uri %}
                <a href="{{ item.event.by_frbr_uri }}">{{ item.event.by_title }}</a>
              {% else %}
                {{ item.event.by_title }}
              {% endif %}
              {% if item.date %}
                <span>on {{ item.date|date("d M Y")}}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}
  {% block repeals %}
    {% if repeals is not empty %}
      <div class="overview-modifications-section">
        <h2>{{ 'Repeals'|t }}</h2>
        <ul>
          {% for item in repeals %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}
  {% block subsidiary_legislation %}
    {% if subsidiary_legislation is not empty %}
      <div class="overview-modifications-section">
        <h2>{{ 'Subsidiary legislation'|t }}</h2>
        <ul>
          {% for item in subsidiary_legislation %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}
</div>