{% block content %}
  {% block show_provisions %}
  {% if show_provisions %}
    <input type="checkbox" role="switch"  class="reader show-provisions" id="show-provisions" name="show-provisions" />
    <label for="show-provisions">{{ 'Show changes'|t }}</label>
  {% endif %}
  {% endblock %}
  {% block show_tags %}
  {% if show_tags %}
    <input type="checkbox" role="switch" class="reader show-tags" id="show-tags" name="show-tags" checked />
    <label for="show-tags">{{ 'Show tags'|t }}</label>
  {% endif %}
  {% endblock %}
  {% block show_inline_diff %}
  {% if show_inline_diff %}
    <input type="checkbox" role="switch"  class="reader show-side-by-side visually-hidden" id="show-side-by-side" name="show-side-by-side" checked />
    <label class="visually-hidden" for="show-side-by-side">{{ 'Show changes side-by-side'|t }}</label>
  {% endif %}
  {% endblock %}
  {% block options %}
  {% if options %}
    <div class="reader-options-dropdown">
      <button class="btn" role="button" data-toggle="dropdown">
        {{ 'Options'|t }}
      </button>
      {% for option in options %}
        <div class="dropdown-menu option">
          {% if options['highlight'] %}
            <input type="checkbox" role="switch"   class="reader" id="show-highlight" name="show-highlight" checked />
            <label for="show-highlight">{{ 'Highlight editorial remarks'|t }}</label>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% endblock %}
{% endblock %}
