{% block content %}
  <div class="legislation-latest-version-block">
    <div class="content d-flex align-items-center">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 14C6.81331 14 5.65328 13.6481 4.66658 12.9888C3.67989 12.3295 2.91085 11.3925 2.45673 10.2961C2.0026 9.19975 1.88378 7.99335 2.11529 6.82946C2.3468 5.66557 2.91825 4.59648 3.75736 3.75736C4.59648 2.91825 5.66557 2.3468 6.82946 2.11529C7.99335 1.88378 9.19975 2.0026 10.2961 2.45673C11.3925 2.91085 12.3295 3.67989 12.9888 4.66658C13.6481 5.65328 14 6.81331 14 8C13.9983 9.59076 13.3656 11.1159 12.2407 12.2407C11.1159 13.3656 9.59076 13.9983 8 14ZM8 3.2C7.05065 3.2 6.12262 3.48152 5.33326 4.00895C4.54391 4.53638 3.92868 5.28604 3.56538 6.16312C3.20208 7.04021 3.10702 8.00533 3.29223 8.93644C3.47744 9.86754 3.9346 10.7228 4.60589 11.3941C5.27718 12.0654 6.13246 12.5226 7.06357 12.7078C7.99468 12.893 8.9598 12.7979 9.83688 12.4346C10.714 12.0713 11.4636 11.4561 11.9911 10.6667C12.5185 9.87738 12.8 8.94935 12.8 8C12.7986 6.7274 12.2924 5.50733 11.3925 4.60747C10.4927 3.7076 9.2726 3.20143 8 3.2Z" fill="#73663F"/>
        <path d="M8 9.2C7.84087 9.2 7.68826 9.13679 7.57574 9.02427C7.46322 8.91174 7.4 8.75913 7.4 8.6V5.6C7.4 5.44087 7.46322 5.28826 7.57574 5.17574C7.68826 5.06322 7.84087 5 8 5C8.15913 5 8.31174 5.06322 8.42427 5.17574C8.53679 5.28826 8.6 5.44087 8.6 5.6V8.6C8.6 8.75913 8.53679 8.91174 8.42427 9.02427C8.31174 9.13679 8.15913 9.2 8 9.2Z" fill="#73663F"/>
        <path d="M8 11C8.33137 11 8.6 10.7314 8.6 10.4C8.6 10.0686 8.33137 9.8 8 9.8C7.66863 9.8 7.4 10.0686 7.4 10.4C7.4 10.7314 7.66863 11 8 11Z" fill="#73663F"/>
      </svg>
      {% block info %}
        {{ info }}
      {% endblock %}
    </div>
    {% block links %}
      <div class="d-flex justify-content-end links">
        <a href="{{ latest_revision }}" class="view-revision">{{ 'Open the latest available version'|t }}</a>
        {{ links }}
      </div>
    {% endblock %}
  </div>
{% endblock %}
