{% block content %}
  <div class="row d-flex">
    <div class="left">
      {{ date }}
      {{ revision }}
      {{ relation }}
      {{ events }}
    </div>
    {% if file %}
      <div class="right">
        {{ file }}
      </div>
    {% endif %}
  </div>
{% endblock %}
