<div class="timeline-menu">
  <a class="btn dropdown-toggle" href="#" role="button"
     id="{{ wrapper_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ active_item }}
  </a>
  <div class="dropdown-menu" aria-labelledby="{{ wrapper_id }}">
    {% for item in items %}
      <a class="dropdown-item d-flex justify-content-between {% if item.active %}active{% endif %}" href="{{ item.link }}">
        <span class="title">{{ item.title|date('d M, Y') }}</span>
        <span class="language">{{ item.language }}</span>
      </a>
    {% endfor %}
  </div>
</div>
