<div class="files-menu">
  <a class="btn download-file" href="{{active_item_url}}" download>
    {{ 'Download'|t }} <span class="file-size">{{ active_item }}</span>
  </a>
  {% if items |length  > 1 %}
    <a class="btn dropdown-toggle" href="#" role="button"
      id="{{ wrapper_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ 'Download'|t }} <span class="file-size">{{ active_item }}</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="{{ wrapper_id }}">
      {% for item in items %}
        {% if not item.active %}
          <a class="dropdown-item d-flex justify-content-between" href="{{ item.link }}" download>
            <span class="title">{{ item.title|date('d M, Y') }}</span>
            <span class="language">{{ item.language }}</span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  {% else %} 
    <a class="btn dropdown-toggle unique" href="#" role="button"
        id="{{ wrapper_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Download <span class="file-size">{{ active_item }}</span>
    </a>
  {% endif %}
</div>
