{% block button %}
  <button class="btn btn-dark akn-share-button" id="akn-generate-url"
          data-toggle="collapse" data-target="#aknCollapseCopyStatus" aria-expanded="false" aria-controls="aknCollapseCopyStatus">
    {{ 'Generate link'|t }}
  </button>
{% endblock %}
{% block content_button %}
  <div id="aknCollapseCopyStatus" class="collapse" aria-labelledby="generate-url">
    <div class="card">
      <div class="card-body row">
        <input class="form-control col-11" type="text" value="url" readonly="">
        <button class="btn col-1" id="akn-btn-copy-link" data-toggle="collapse" data-target="#aknCollapseCopyStatusButton" aria-expanded="false" aria-controls="aknCollapseCopyStatusButton">
          <svg aria-hidden="true" height="16" viewBox="0 0 16 16" width="16" data-view-component="true" class="d-inline-block">
            <path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
