By default, all blocks and fields are visible if content is available. However,
you can configure which content is visible per node. Below you can find a list
with all available settings.

<h3>Settings available:</h3>

<ul>
  <li>Hide timeline:
    <pre>akn_timeline:0</pre>
    where 0 is false and 1 is true.
  </li>
  <li>Hide Table of content:
    <pre>akn_toc:0</pre>
    where 0 is false and 1 is true.
  </li>
  <li>Show/Hide blocks like <strong>Legal area</strong> or <strong>Keywords</strong>:<br/>
    <ul>
      <li>to show all blocks:
        <pre>alignments_and_linkages:*</pre>
      </li>
      <li>
        to show only <strong>Legal area</strong> OR <strong>Keywords</strong>:<br/>
        <pre>alignments_and_linkages:legal_area</pre>
        or
        <pre>alignments_and_linkages:keywords</pre>
      </li>
      <li>
        to show only <strong>Legal area</strong> AND <strong>Keywords</strong>:<br/>
        <pre>alignments_and_linkages:legal_area,keywords</pre>
      </li>
    </ul>
  </li>
  <li>Display specific tabs for a node:<br/>
    By default, all tabs are displayed. You can display only the ones you want
    but keep in mind that the "View document" tab will always be shown.
    <ul>
      <li>display all tabs:
        <pre>akn_show_tabs:*</pre>
        The default option.
      </li>
      <li>display only History tab:
        <pre>akn_show_tabs:unep_legislation.history</pre>
        Only tabs: View document and History will be displayed.
      </li>
      <li>display only Overview tab:
        <pre>akn_show_tabs:unep_legislation.overview</pre>
        Only tabs: Overview, View document and History will be displayed.
      </li>
      <li>disable tooltips for legislations with long markup (for a better loading):
        <pre>akn_disable_tooltips:1</pre>
      </li>
    </ul>
    All tabs available at this moment are:
    <pre>
    {% for tab in tabs %}
      {{ tab }}
    {% endfor %}
    </pre>
  </li>
</ul>

<h4>Example:</h4>

<pre>
  akn_show_tabs:unep_legislation.overview,unep_legislation.history
  akn_timeline:0
  akn_toc:0
  alignments_and_linkages:legal_area,keywords
  akn_disable_tooltips:1
</pre>